<nav class="h-full w-64 bg-gradient-to-b from-indigo-800 to-purple-800 text-white p-6 shadow-xl flex flex-col gap-6">
  <h2 class="text-2xl font-bold mb-4">WayUp</h2>

  <a routerLink="/dashboard" routerLinkActive="bg-indigo-600 font-semibold" class="hover:bg-indigo-600 px-4 py-2 rounded transition">Dashboard</a>
  <a routerLink="/faire-test" routerLinkActive="bg-indigo-600 font-semibold" class="hover:bg-indigo-600 px-4 py-2 rounded transition">Retake the Test</a>
    <a routerLink="/formation" routerLinkActive="bg-indigo-600 font-semibold" class="hover:bg-indigo-600 px-4 py-2 rounded transition">Formations</a>
  <a routerLink="/company-suggestion" routerLinkActive="bg-indigo-600 font-semibold" class="hover:bg-indigo-600 px-4 py-2 rounded transition">Companies</a>
  <a routerLink="/internship" routerLinkActive="bg-indigo-600 font-semibold" class="hover:bg-indigo-600 px-4 py-2 rounded transition">Interships</a>
  

  <div class="mt-auto">
    <button class="w-full bg-red-500 hover:bg-red-600 px-4 py-2 rounded transition">🚪 Logout</button>
  </div>
</nav>
